:root {
  --body-bg: #fff;
  --white-bg: #fff;
  --section-bg: #efefff;
  --primary-bg: linear-gradient(to left, #5f092d, #dd122d);
  --headding-bg: #ad90bb;
  --body-color: #000000;
  --primary-color: #a51136;
  --secondary-color: #10393b;
  --headding-color: #16b673;
  --white-color: #fff;
  --border-color: #f0f0f0;
  --ct-border-color: #e2e8f0;
  --ct-border-color2: #e1e1e1;
  --ct-border-color3: #e8e8e8;
  --no-change-color1: #2edfd0;
  --body-font: "Nanum Gothic", sans-serif;
  --headding-font: "Nanum Gothic", sans-serif;
}

.footer-bottom {
  background: #571223;
}
